[submodule "themes/hyde-hyde"]
	path = themes/hyde-hyde
	url = https://github.com/htr3n/hyde-hyde.git
[submodule "builder"]
	path = builder
	url = git@github.com:bric3/hugo-builder.git
	branch = master
