[submodule "builder"]
	path = builder
	url = git@github.com:bric3/hugo-builder.git
	branch = master
[submodule "themes/ascii-press"]
	path = themes/ascii-press
	url = git@github.com:bric3/ascii-press.git
