$block-switch-border-color: rgb(88, 78, 61);
$block-switch-not-selected-tab-color: rgb(254, 226, 176);
$block-switch-not-selected-tab-bg-color: rgb(40, 35, 27);
$block-switch-selected-tab-color: rgb(255, 224, 174);
$block-switch-selected-tab-bg-color: rgb(104, 88, 59);

div.switch {
  border-color: $block-switch-border-color;

  .switch--item {
    background-color: $block-switch-not-selected-tab-bg-color;
    color: $block-switch-not_selected-tab-color;

    &:not(:first-child) {
      border-color: $block-switch-border-color;
    }

    &.selected {
      background-color: $block-switch-selected-tab-bg-color;
      color: $block-switch-selected-tab-color;
    }
  }
}

