
.post {
  text-rendering: optimizeLegibility;

  div, dl, dt, dd, ul, ol, li, h1, h2, h3, #toctitle, .sidebarblock > .content > .title, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    direction: ltr;
  }

  p {
    margin-bottom: 1.25rem;
  }



  ul, ol {
    margin-left: 1.5em;
    li > p {
      margin: 0;
    }
  }

  ul, ol, dl {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1.25em;
    list-style-position: outside;
    font-family: inherit;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    word-spacing: -.05rem;
    font-weight: 300;
    font-style: normal;
    color: #ba3925;
    text-rendering: optimizeLegibility;
    margin-top: 1rem;
    margin-bottom: .5rem;
  }

  h1, h2, h3, #toctitle, h4, h5, h6 {
    line-height: 1.2;
    word-spacing: -.05em;
  }

  img, object, svg {
    display: inline-block;
    vertical-align: middle;
  }

  img {
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
    height: auto;
  }

  object, embed {
    max-width: 100%;
    height: auto;
  }

  img {
    border: 0;
  }

  details, .audioblock, .imageblock, .literalblock, .listingblock, .stemblock, .videoblock {
    margin-bottom: 1.25em;
  }

  #header > h1:only-child {
    border-bottom: 1px solid #dddddf;
    padding-bottom: 8px;
  }

  #header > h1:first-child {
    color: rgba(0, 0, 0, .85);
    margin-top: 2.25rem;
    margin-bottom: 0;
  }

  h1 {
    font-size: 2.125rem;
    @media screen and (min-width: 768px) {
      font-size: 2.75rem;
    }
  }

  h2 {
    font-size: 1.6875em;
    @media screen and (min-width: 768px) {
      font-size: 2.2rem;
    }
  }

  h1, h2, p, td.content, span.alt {
    letter-spacing: -.01em;
  }

  .sidebarblock {
    border-style: solid;
    border-width: 1px;
    border-color: #dbdbd6;
    margin-bottom: 1.25em;
    padding: 1.25em;
    background: #f3f3f2;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-rendering: optimizeLegibility;

    .content {
      margin: 0;
      padding: 0;

      .title {
        color: #7a2518;
        text-align: center;

        font-size: 1.6875rem;
        line-height: 1.2;
        word-spacing: -.05rem;
        font-weight: 300;
        font-style: normal;
      }
    }
  }

  h3, #toctitle, .sidebarblock > .content > .title {
    font-size: 1.6875rem;
    @media screen and (min-width: 768px) {
      font-size: 1.6875rem;
    }

  }

  // last child
  .exampleblock > .content > :last-child > :last-child, .exampleblock > .content .olist > ol > li:last-child > :last-child, .exampleblock > .content .ulist > ul > li:last-child > :last-child, .exampleblock > .content .qlist > ol > li:last-child > :last-child, .sidebarblock > .content > :last-child > :last-child, .sidebarblock > .content .olist > ol > li:last-child > :last-child, .sidebarblock > .content .ulist > ul > li:last-child > :last-child, .sidebarblock > .content .qlist > ol > li:last-child > :last-child {
    margin-bottom: 0;
  }


  .admonitionblock td.content > .title, .audioblock > .title, .exampleblock > .title, .imageblock > .title, .listingblock > .title, .literalblock > .title, .stemblock > .title, .openblock > .title, .paragraph > .title, .quoteblock > .title, table.tableblock > .title, .verseblock > .title, .videoblock > .title, .dlist > .title, .olist > .title, .ulist > .title, .qlist > .title, .hdlist > .title {
    text-align: left;
    font-size: 1rem;
    font-style: italic;
  }

  .subheader, .admonitionblock td.content > .title, .audioblock > .title, .exampleblock > .title, .imageblock > .title, .listingblock > .title, .literalblock > .title, .stemblock > .title, .openblock > .title, .paragraph > .title, .quoteblock > .title, table.tableblock > .title, .verseblock > .title, .videoblock > .title, .dlist > .title, .olist > .title, .ulist > .title, .qlist > .title, .hdlist > .title {
    line-height: 1.45;
    color: #7a2518;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: .25rem;
  }

  .quoteblock {
    margin: 0 1em 1.25em 1.5em;
    display: table;

    // hyde-hyde fix : pad content
    blockquote .paragraph {
      padding-left: 0.5rem;
    }

    blockquote, p {
      color: rgba(0, 0, 0, 0.85);
      font-size: 1.15rem;
      line-height: 1.75;
      word-spacing: .1em;
      letter-spacing: 0;
      font-style: italic;
      text-align: justify;
    }

    blockquote::before {
      content: "\201c";
      float: left;
      font-size: 2.75em;
      font-weight: bold;
      line-height: .6em;
      margin-left: -.6em;
      color: #7a2518;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }
  }

  table {
    background: #fff;
    margin-bottom: 1.25em;
    border: solid 1px #dedede;

    thead, tfoot {
      background: #f7f8f7;
    }

    thead tr {
      th, td {
        padding: .5em .625em .625em;
        font-size: inherit;
        color: rgba(0, 0, 0, 0.8);
        text-align: left;
      }
    }

    tfoot tr {
      th, td {
        padding: .5em .625em .625em;
        font-size: inherit;
        color: rgba(0, 0, 0, 0.8);
        text-align: left;
      }
    }

    tr {
      th, td {
        padding: .5625em .625em;
        font-size: inherit;
        color: rgba(0, 0, 0, 0.8);
      }

      &.even, &.alt {
        background: #f8f8f7;
      }
    }

    thead tr th, tfoot tr th, tbody tr td, tr td, tfoot tr td {
      display: table-cell;
      line-height: 1.6;
    }
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  .admonitionblock {
    > table {
      border-collapse: separate;
      border: 0;
      background: none;
      width: 100%;

      // hyde-hyde fix : remove nth-child(2n+1)
      tbody tr td,
      tbody tr th {
        background: initial;
      }

      td {
        // hyde-hyde fix : remove border
        border: initial;

        &.icon {
          text-align: center;
          width: 80px;

          img {
            max-width: none;
          }

          .title {
            font-weight: bold;
            text-transform: uppercase;
          }
        }

        &.content {
          font-size: 1.0625rem;
          // hyde-hyde fix : fix default padding and margin to 0
          margin: 0;
          padding: 0;
          padding-left: 1.125rem;
          padding-right: 1.25rem;
          border-left: 1px solid #ddddd8;
          color: rgba(0, 0, 0, 0.6);

          > :last-child > :last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    td.icon {
      [class^="fa icon-"] {
        font-size: 2rem;
        font-family: 'Font Awesome 5 Free';
        cursor: default;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      }

      .icon-note::before {
        content: "\f05a"; // equivalent to <i class="fas fa-info-circle"></i>
        color: #19407c;
      }

      .icon-tip::before {
        content: "\f0eb"; // equivalent to <i class="far fa-lightbulb"></i>
        text-shadow: 1px 1px 2px rgba(155, 155, 0, 0.8);
        color: #b19c4e;
      }

      .icon-warning::before {
        content: "\f071"; // equivalent to <i class="fas fa-exclamation-triangle"></i>
        color: #bf6900;
      }

      .icon-caution::before {
        content: "\f06d"; // equivalent to <i class="fas fa-fire"></i>
        color: #bf3400;
      }

      .icon-important::before {
        content: "\f06a"; // equivalent to <i class="fas fa-exclamation-circle"></i>
        color: #bf0000;
      }
    }
  }

  table.tableblock {
    > .title {
      line-height: 1.45;
      color: #7a2518;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: .25em;
      text-rendering: optimizeLegibility;
      text-align: left;
      //font-family: "Noto Serif","DejaVu Serif",serif;
      font-size: 1rem;
      font-style: italic;
    }

    &.fit-content > caption.title {
      white-space: nowrap;
      width: 0;
    }

    #preamble > .sectionbody > [class="paragraph"]:first-of-type p {
      font-size: inherit;
    }

    max-width: 100%;
    border-collapse: separate;
  }

  p.tableblock:last-child {
    margin-bottom: 0;
  }

  td.tableblock > .content {
    margin-bottom: 1.25em;

    > :last-child {
      margin-bottom: -1.25em;
    }
  }

  table.tableblock, th.tableblock, td.tableblock {
    border: 0 solid #dedede;
  }

  table {
    &.grid-all > {
      thead > tr > .tableblock, tbody > tr > .tableblock {
        border-width: 0 1px 1px 0;
      }

      tfoot > tr > .tableblock {
        border-width: 1px 1px 0 0;
      }
    }

    &.grid-cols > * > tr > .tableblock {
      border-width: 0 1px 0 0;
    }

    &.grid-rows > {
      thead > tr > .tableblock, tbody > tr > .tableblock {
        border-width: 0 0 1px;
      }

      tfoot > tr > .tableblock {
        border-width: 1px 0 0;
      }
    }

    &.grid-all > * > tr > .tableblock:last-child, &.grid-cols > * > tr > .tableblock:last-child {
      border-right-width: 0;
    }

    &.grid-all > {
      tbody > tr:last-child > .tableblock, thead:last-child > tr > .tableblock {
        border-bottom-width: 0;
      }
    }

    &.grid-rows > {
      tbody > tr:last-child > .tableblock, thead:last-child > tr > .tableblock {
        border-bottom-width: 0;
      }
    }

    &.frame-all {
      border-width: 1px;
    }

    &.frame-sides {
      border-width: 0 1px;
    }

    &.frame-topbot, &.frame-ends {
      border-width: 1px 0;
    }

    &.stripes-all tr, &.stripes-odd tr:nth-of-type(odd), &.stripes-even tr:nth-of-type(even), &.stripes-hover tr:hover {
      background: #f8f8f7;
    }
  }

  p.tableblock {
    > code:only-child {
      background: none;
      padding: 0;
    }

    font-size: 1em;
  }

  .conum[data-value] {
    display: inline-block;
    color: #fff !important;
    background-color: rgba(100, 100, 0, 0.8);
    -webkit-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    font-size: .75em;
    width: 1.67em;
    height: 1.67em;
    line-height: 1.67em;
    font-style: normal;
    font-weight: bold;

    * {
      color: #fff !important;
    }

    + b {
      display: none;
    }

    &::after {
      content: attr(data-value);
    }
  }

  pre .conum[data-value] {
    position: relative;
    top: -0.125em;
  }

  b.conum * {
    color: inherit !important;
  }

  .conum:not([data-value]):empty {
    display: none;
  }


  .dlist > .title,
  .olist > .title,
  .ulist > .title,
  .qlist > .title {
    text-rendering: optimizeLegibility;
    text-align: left;
    font-size: 1rem;
    font-style: italic;
  }

  .hdlist > table,
  .colist > table {
    background-color: rgba(13, 13, 13, 0);
    background-image: none;
    border-color: currentcolor;
    border: 0;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    background: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;

  }

  .hdlist > {
    .title {
      text-rendering: optimizeLegibility;
      text-align: left;
      font-size: 1rem;
      font-style: italic;
    }

    table {
      border: 0;
      background: none;
      tbody > tr {
        background-color: rgba(13, 13, 13, 0);
        background-image: none;
      }
      
      // fix hyde-hyde collision
      width: initial;
      tbody tr {
        td, th {
          border: none;
        }
        &:nth-child(2n+1) {
          td, th {
            background: inherit;
          }
        }
      }

    }
  }

  .colist > table {
    border: 0;
    background: none;
    tbody > tr {
      background-color: rgba(13, 13, 13, 0);
      background-image: none;
    }
  }


  td {
    &.hdlist1, &.hdlist2 {
      vertical-align: top;
      padding: 0 .625em;
    }

    &.hdlist1 {
      font-weight: bold;
      padding-bottom: 1.25em;
    }
  }

  dl {
    dt {
      margin-bottom: .3125em;
      font-weight: bold;
    }
    dd {
      margin-left: 1.125em;
      margin-bottom: 1.25em;
    }
  }



  pre {
    color: rgba(0, 0, 0, 0.9);

    font-family: "Droid Sans Mono","DejaVu Sans Mono",monospace;
    line-height: 1.45;
    text-rendering: optimizeSpeed;

    //white-space: pre-wrap;

    > code {
      display: block;
    }

    code, pre {
      color: inherit;
      font-size: inherit;
      line-height: inherit;
    }
  }


  .literalblock pre, .listingblock > .content > pre {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    word-wrap: break-word;
    overflow-x: auto;
    padding: 1em;
    font-size: .8125em;
  }

  @media screen and (min-width: 768px) {
    .literalblock pre, .listingblock > .content > pre {
      font-size: .90625em;
    }
  }

  @media screen and (min-width: 1280px) {
    .literalblock pre, .listingblock > .content > pre {
      font-size: 1em;
    }
  }

  .literalblock pre {
    background: #f7f7f8;
  }

  .listingblock > .content > pre {
    &:not(.highlight), &[class="highlight"], &[class^="highlight "] {
      background: #f7f7f8;
    }
  }

  .literalblock.output pre {
    color: #f7f7f8;
    background: rgba(0, 0, 0, 0.9);
  }

  .listingblock {
    > .content {
      position: relative;
    }

    code[data-lang]::before {
      display: none;
      content: attr(data-lang);
      position: absolute;
      font-size: .75em;
      top: .425rem;
      right: .5rem;
      line-height: 1;
      text-transform: uppercase;
      color: inherit;
      opacity: .5;
    }

    &:hover code[data-lang]::before {
      display: block;
    }

    &.terminal pre .command {
      &::before {
        content: attr(data-prompt);
        padding-right: .5em;
        color: inherit;
        opacity: .5;
      }

      &:not([data-prompt])::before {
        content: "$";
      }
    }

    pre {
      &.highlightjs {
        padding: 0;

        > code {
          padding: 1em;
          -webkit-border-radius: 4px;
          border-radius: 4px;
        }
      }

      &.prettyprint {
        border-width: 0;
      }
    }
  }

  .verseblock {
    margin: 0 1em 1.25em;

    pre {
      padding: 0.3rem;
      font-size: 1.15rem;
      color: rgba(0, 0, 0, 0.85);
      font-weight: 300;
    }
  }

  .quoteblock .attribution,
  .verseblock .attribution {
    font-size: .9375em;
    line-height: 1.45;
    font-style: italic;
  }

  .quoteblock .attribution {
    margin-top: .75em;
    margin-right: .5ex;
    text-align: right;

    cite {
      color: rgba(229, 224, 216, 0.6);
    }
  }

  .verseblock .attribution cite {
    color: rgba(229, 224, 216, 0.6);
  }

  .quoteblock .attribution cite,
  .verseblock .attribution cite {
    display: block;
    letter-spacing: -.025em;
    color: rgba(0, 0, 0, 0.6);
  }


  .exampleblock > .content {
    background-color: rgb(64, 57, 16);
    background-image: none;
    border-color: rgb(72, 71, 63);
    box-shadow: rgb(45, 46, 46) 0px 1px 4px;
    background: #fffef7;
    background-color: rgb(255, 254, 247);
    background-image: none;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 1.25em;
    padding: 1.25em;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
}