$block-switch-border-color: #7a2518 !default;
$block-switch-not-selected-tab-color: #7a2518 !default;
$block-switch-not-selected-tab-bg-color: #ffffff !default;
$block-switch-selected-tab-color: #ffffff !default;
$block-switch-selected-tab-bg-color: #7a2518 !default;

.hidden {
  display: none;
}

div.switch {
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: $block-switch-border-color;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: inline-block;

  .switch--item {
    padding: 0.3rem;
    background-color: $block-switch-not-selected-tab-bg-color;
    color: $block-switch-not_selected-tab-color;
    display: inline-block;
    cursor: pointer;

    &:not(:first-child) {
      border-width: 0 0 0 1px;
      border-style: solid;
      border-color: $block-switch-border-color;
    }

    &.selected {
      background-color: $block-switch-selected-tab-bg-color;
      color: $block-switch-selected-tab-color;
    }
  }
}

