$block-switch-border-color: #7a2518 !default;
$block-switch-not-selected-tab-color: #7a2518 !default;
$block-switch-not-selected-tab-bg-color: #ffffff !default;
$block-switch-selected-tab-color: #ffffff !default;
$block-switch-selected-tab-bg-color: #7a2518 !default;
$block-switch-selected-tab-bg-gradient-color: $yellow !default;

.hidden {
  display: none;
}

div.switch {
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: $block-switch-border-color;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: inline-block;
  overflow-x: hidden;
  margin-bottom: -10px !important;


  .switch--item {
    padding: 0.3rem;
    background-color: $block-switch-not-selected-tab-bg-color;
    color: $block-switch-not_selected-tab-color;
    display: inline-block;
    cursor: pointer;
    font-size: 0.8em;

    &:not(:first-child) {
      border-width: 0 0 0 1px;
      border-style: solid;
      border-color: $block-switch-border-color;
    }

    &.selected {
      color: $block-switch-selected-tab-color;
      background: linear-gradient(0deg, $block-switch-selected-tab-bg-gradient-color 10%, $block-switch-selected-tab-bg-color 0%);
      font-size: 1em;
    }
  }
}

