<span class="section__title">{{ .Title }}</span>
<ul class="posts">
    {{ $paginator := .Paginate (where .Pages "Type" "in" "posts") }}
    {{ partial "pagination.html" . }}
    <br/>
    {{ range $paginator.Pages }}
    <li>
        <span class="list__title--small">
            <time class="hidden-tablet">{{ .Date.Format (.Site.Params.dateformat | default "Jan 02 '06") }}</time>
            <a href="{{ .RelPermalink }}" {{if .Draft}}class="draft"{{end}}>{{ .Title }}</a>
        </span>
    </li>
    {{ end }}
    <br/>
    {{ partial "pagination.html" . }}
</ul>
