<head>
    <link href="https://gmpg.org/xfn/11" rel="profile">
    {{ partial "header/meta.html" . }}
    {{ partial "header/styles.html" . }}
    {{ `<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->` | safeHTML }}
    {{ "<!-- Icons -->" | safeHTML }}
    <!-- Apple -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
    <!-- Android  -->
    <link rel="shortcut icon" sizes="192x192" href="/android-192-favicon.png">

    <!-- everything else -->
    <link rel="shortcut icon" href="/android-192-favicon.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/v4-shims.min.css" integrity="sha256-wN7QJaqAwQ03kgUhyN4EU2phRdDkLrQYbFe0EvpQ60U=" crossorigin="anonymous" />

    {{ partial "header/feeds.html" . }}
    {{ partial "header/custom.html" }}

    <!-- <script src="https://cdn.jsdelivr.net/npm/darkreader/darkreader.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        DarkReader.auto({
            brightness: 100,
            contrast: 90,
            sepia: 10
            });
    </script> -->
</head>
