{{- if .Site.Params.highlightjs -}}
{{- if or (not (isset .Params "highlight")) (.Params.highlight) -}}
<!-- highlightjs -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/{{ .Site.Params.highlightjsstyle | default "default" }}.min.css" media="(prefers-color-scheme: light)">

{{- if isset .Site.Params "highlightjsdarkstyle" -}}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/{{ .Site.Params.highlightjsdarkstyle }}.min.css" media="(prefers-color-scheme: dark)">
{{- end -}}
{{- end -}}
{{- end -}}
{{- if .Site.Params.PygmentsUseClasses -}}
<!-- Pygments Syntax -->
<link rel="stylesheet" href="{{ "css/syntax.min.css" | relURL }}">
{{- end -}}
