---
layout: default
---

{% capture i18n_date %}
{{ page.date | date: "%-d" }}
{% assign m = page.date | date: "%-m" | minus: 1 %}
{{ site.data[site.locale].months[m] }}
{{ page.date | date: "%Y" }}
{% endcapture %}


{% if page.minutes %}
{% assign minutes = page.minutes %}
{% else %}
{% assign minutes = content | number_of_words | divided_by: 100 %}
{% if minutes == 0 %}{% assign minutes = 1 %}{% endif %}
{% endif %}

<div class="container-fluid single">
    <div class="row">

        <div itemscope itemtype="https://schema.org/Article" class="col-md-12 article">
            {% if site.data.thumbnail[page.thumbnail] %}
            <div class="thumb">
                <img itemprop="image" src="{{ site.data.thumbnail[page.thumbnail] }}"
                     alt="Thumbnail: {{ page.thumbnail }}"/>
            </div>
            {% elsif page.thumbnail %}
            <div class="thumb">
                <i class="fa fa-{{ page.thumbnail }} fa-4x"></i>
            </div>
            {% endif %}

            <h1 class="header" itemprop="name">{{ page.title }}</h1>

            <div class="author">
                <small><i>
                    {% if page.author %}
                    {{ site.data[site.locale].post.post-by-author }}
                      <span itemprop="author">
                        {% if site.google_plus_link %}
                        <a rel="author" href="{{ site.google_plus_link }}">
                        {% endif %}
                        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                            <span itemprop="name">{{ page.author }}</span>
                        </span>
                        {% if site.google_plus_link %}
                        </a>
                        {% endif %}
                      </span>
                    {% endif %}
                    {{ site.data[site.locale].post.post-on-date }} <span itemprop="datePublished" content="2014-08-28">{{ i18n_date }}</span>
                    {% if page.categories != empty %} {{ site.data[site.locale].post.under-category }} {% for category in page.categories limit:1 %}{{ category }} {% endfor %}{% endif %}
                </i></small>
            </div>

            <div class="read-time">
                <small>
                    {{ site.data[site.locale].post.minute-read | replace:'$minutes$',minutes }}
                </small>
            </div>

            <div class="content-panel content">
                {% if page.tags and page.tags.size > 0 %}
                <div class="tags">
                    <small>
                        {% for tag in page.tags %}
                        <a href="{{ site.baseurl }}/tags/#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
                        {% endfor %}
                    </small>
                </div>
                {% endif %}

                <span itemprop="articleBody">{{ content }}</span>

                {% if site.addthis_id %}
                <div class="share">
                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    <div class="addthis_sharing_toolbox"></div>
                </div>
                {% endif %}
            </div>

        </div>

    </div>

</div>
