name: GitHub Pages

on:
  push:
    branches:
      - hugo-sources

jobs:
  build-deploy:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image
        uses: docker/build-push-action@v6
        with:
          context: builder/
          tags: bric3/hugo-builder:ci
          load: true
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build Site
        run: docker run --rm --user $(id -u):$(id -g) --volume $PWD:/src bric3/hugo-builder:ci hugo --noBuildLock --buildDrafts --buildFuture --destination ./public

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: master
          publish_dir: ./public
          cname: blog.arkey.fr
