name: GitHub Pages

on:
  push:
    branches:
      - hugo-sources

jobs:
  build-deploy:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

      - name: Build Docker Image
        run: docker build -t bric3/hugo-builder:ci builder/

      - name: Build Site
        run: docker run --rm --volume $PWD:/src bric3/hugo-builder:ci hugo --buildDrafts --buildFuture --destination ./public

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_branch: master
          publish_dir: ./public
          cname: blog.arkey.fr
